@import "./fondo.css";
html {
  box-sizing: border-box;
  /* border: 1px solid red; */
}
 
*, *:before, *:after {
  box-sizing:inherit;
 }

 img {
   width: 100%;
 }

 body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #000;
  
 }
 
 header{
   background: #557e7c;
   color: #ebebd3;
   padding: 1em 0;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   /* height: 50px; */
   display: flex;
   justify-content: space-around;
   z-index: 1;
   transition: top .5s;
 }

 small {
   font-size: 60%;
 }
 .U-green {
   color: #50a3a2;
 }
 .U-purple {
   color: #5d02ff;
 }
 .U-pink {
   color: #e91e63;
 }
 .U-red {
   color: #ff0000;
 }
 .U-orange {
   color: #ffc107;
 }
 .U-blue {
   color: #095379
 }

 U-text-cente {
   text-align: center;
 }

 .prueba {
   color: white;
 }

 .Container-nav {
   display: flex;
   justify-content: space-around;
   /* border: 1px solid red; */
   width: 100%;
 }

 .site-nav {
   display: flex;
   flex-direction: column;
   /* margin-top: 20px; */
   width: 100%;
   transition: all 2s;
   overflow: hidden;

 }

 .is-open {
  /* display: none; */
  height: 0;
  width: 0;
}

 .a-nav {
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid #575766;
  color: white;
  /* width: 100%; */
 }

 .Fondo {
  background: #50a3a2;
  background: -webkit-gradient(linear, left top, right bottom, from(#50a3a2), to(#53e3a6));
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding-top: 50px;
}

.logo{
  font-size: 1rem;
  /* margin: 0; */
  text-transform: uppercase;
  font-weight: 700;
}

/* .site-nav{
  top:100%;
  right:0;
  position: absolute;
  background: #464655;
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 700ms; */
/* } */

/* .site-nav-open{
  clip-path: circle(150% at top right);
} */

/* .site-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
} */

/* .site-nav li{
  border-bottom: 1px solid #575766;
} */

/* .site-nav a{
  color: #ebedb3;
  display: block;
  padding: 2em 6em;
  text-transform: uppercase;
  text-decoration: none;
} */

/* .site-nav a:hover,
.site-nav a:focus{
  background: #e4b363;
  color: #464655;
} */

/* .site-nav--icon{
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255, 255, 255, .4);
} */

.menu-toggle {
  margin-right: 20px;
}
/*esto mueve a una x el menu hamburger*/
.menu-open .hamburger{
  transform: rotate(45deg);
}
.menu-open .hamburger::before{
  opacity: 0;
}
.menu-open .hamburger::after{
  transform: translateY(-3px) rotate(-90deg);
}
/* Esto crea las lineas del menu de hamburgesa */
.hamburger,
.hamburger::before,
.hamburger::after{
  content: '';
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  margin-right: 20px;
  transition: all ease-in-out 500ms;
}
.hamburger::before{
  transform: translateY(-6px);
}
.hamburger::after{
  transform: translateY(3px);
}


.Fondo-textContenedor {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center;
  color:wheat; 
}

.Fondo-text {
  font-size: 2rem;
  margin: 20px 0 10px 0;
}

.Fondo-correo {
  margin-bottom: 5px;
}

.Fondo-barraSocial {
  font-size: 1.5rem;
  margin: 10px;
}
.Fondo-link {
  text-decoration: none;
  margin: 5px;
}

.Main {
  padding: 50px 0;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(180deg, rgba(255,255,255,1) 70%, rgba(234,234,234,1) 86%, rgba(0,0,0,1) 100%);
}

.Main-title {
  margin-top: 0;
  /* padding-top: 20px; */
}

.Main-p {
  margin: 20px;
}

.Conocimientos {
  padding: 20px 0;
}

.Conocimientos-title {
  font-size: 2rem;
  text-align: center;
  color:white;
}



.Conocimientos-card {
  border: 1px solid #000;
  margin: 30px;
  position: relative;
  background-color: #000;
  /* z-index: 10; */
}

.Conocimientos-card:before {
  content: '';
  position:absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  /* background: black; */
  /* border: 1px solid red; */
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.Conocimientos-card:nth-child(1):before {
  background: linear-gradient(315deg, #50a3a2, #53e3a6);
}

.Conocimientos-card:nth-child(2):before {
  background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.Conocimientos-card:nth-child(3):before {
  background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.Conocimientos-card:nth-child(4):before {
  background: linear-gradient(315deg, #ff0000, #ffc107); 
}

.Conocimientos-card:nth-child(5):before {
  background: linear-gradient(315deg, #095379, #08d0f9); 
}
.Conocimientos-cardTitle {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

.Conocimientos-cardText {
  text-align: center;
  color: white;
}

.Conocimientos-ul {
  color: white;

}


.Experience {
  padding: 50px 20px 50px 20px;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(0,0,0,1) 100%);
}

.Experience-title {
  text-align: center;
  font-size: 2rem;
}

.Experience-container {
  display: flex;
  flex-direction: column;
}

.Experience-cart {
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  position: relative;
}

.Experience-imageContainer {
  height: 150px;
  overflow: scroll;
  border: 1px solid black;
}

.Expirence-cardTitle {
  font-weight: bold;
  margin-bottom: 0;
}

.Experience-year {
  font-size: .6rem;
  position: relative;
  bottom: 6px;
  font-weight:normal;
}

.Expirence-skills {
  font-size: .8rem;
}

.Experience-text {
  margin-bottom: 50px;
}

.Experience-link {
  /* border: 1px solid red; */
  border-radius: 10px;
  margin-top: 5px;
  display: inline-block;
  padding: 10px;
  /* background-color: black; */
  position: absolute;
  bottom: 20px;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  color: white;
  text-decoration: none;

}


.Conteiner {

}

.Container-title {
  color: white;
  text-align: center;

}

.Proyects-title {
  text-align: center;
  color:white;
}

.Proyects-p {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.Proyects-card {
  width: 300px;
  color: white;
  border: 1px solid white;
}

.Proyects-cardTitle {
  text-align: center;
  margin: 10px;
}

.Proyects-imageContainer {
  width: 90%;
  /* text-align: center; */
  margin: 0 auto;
}

.Poroyect-infoContainer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.Proyect-infoContainerP {
  margin: 10px 0;
}

.Proyects-containerLinks {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}


.Footer {
  color: white;
  text-align: center;
}

@media (min-width:700px){
  header {
     padding: 1em 0;
  }

  .Conocimientos-title, .Experience-title, .Proyects-title {
    font-size: 3rem;
  }

  .menu-toggle{
      display: none;
  } 
  .site-nav{
      /* height: auto;
      position: relative;
      background: transparent;
      float: right;
      margin-right: 10px;
      padding-top: 10px;
      clip-path: initial; */
      flex-direction: row;
      justify-content: center;
  } 

  .is-open {
    display: flex;
    height: auto;
    width: auto;
  }
  .site-nav li{
      display: inline-block;
      border: none;
  }

  .a-nav{
      padding: 0;
      margin-left: 3em;
      border-bottom: 0;
  }

  .a-nav:hover{
    transform: scale(1.2);
  }
  

  .site-nav--icon{
      display: none;
  }
  .site-nav a:hover,
  .site-nav a:focus{
      background: transparent;
  }


  .Fondo-textContenedor {
    margin-top: 10%;
  }

  .Fondo-text {
    font-size: 2rem;
    margin: 20px;
    line-height: 50px;
  }




  .Main-p {
    line-height: 55px;
  }


  .Conocimientos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .Conocimientos-card {
    width: 35%;
  }


  .Experience-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .Experience-cart {
    width: 380px;
  }


}